.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.typing-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add padding to the card */
  position: relative; /* Set position to relative for absolute positioning of the progress bar */
  font-size: 40px;
}

.typing-card h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
}

#Translated {
  margin-bottom: 20px;
}

#typingStatus {
  font-weight: bold;
}

/* Modal */
.modal-content {
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background-color: #007bff;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  background-color: #f8f9fa;
  border-top: none;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
}

/* List */
#sentencesList {
  list-style-type: none;
  padding: 0;
}

#sentencesList li {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sentencesList li button {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}

#sentencesList li button:hover {
  background-color: #c82333;
}

.letter {
  color: gray;
  font-size: 30px;
  font-weight: bold;
}

.letter.typed {
  color: rgb(25, 135, 84);
}

.letter.wrong {
  color: rgb(255, 0, 0);
}
/* Progress bar */
/* Progress bar */
/* Progress bar container */
/* Progress bar container */
/* Progress bar container */
.progress {
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center; /* Center vertically */
  width: calc(100% - 40px); /* Subtract padding from the width */
  position: absolute; /* Set position to absolute */
  bottom: 10px;
  left: 20px; /* Position from the left */
}

/* Progress bar */
.progress-bar {
  height: 100%;
  background-color: #007bff;
  width: 0;
  transition: width 0.3s ease-in-out;
  max-width: 100%; /* Set maximum width to container width */
}
